.nav-link{
    font-size: 18px;
    font-weight: bold;
    color:black;
}

:root {
    --prefix-nav-link-hover-color: rgb(0, 0, 255);
}

.nav-link:hover {
    color: var(--prefix-nav-link-hover-color);
}